.NavBar {
  display: flex;
  width: 96%;
  margin: auto;
  justify-content: space-between;
}

.cryptoNav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nameNav {
  color: gold;
}

.navLink {
  text-decoration: none;
}
