body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../images/istockphoto-1313455188-612x612.jpg);
  background-size: contain;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(../../images/istockphoto-1313455188-612x612.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  box-shadow: 30px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: auto;
}

.heroDetails {
  padding: 20px 0;
  width: 80%;
  margin: auto;
}

.cardsContain {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.conisCard {
  transition: all ease-in-out 0.45s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 240px;
  border-radius: 10px;
  background-color: white;
}

.conisCard:hover {
  transform: scale(1.05);
}

.coinIcons {
  display: flex;
  color: gold;
  font-size: 40px;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  cursor: pointer;
}

.coinIcons p {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.conisCard img {
  width: 80px;
}

.coinIcon {
  width: 20%;
}

.coinDetails {
  width: 60%;
  text-align: center;
}

.arrowForward {
  width: 20px;
}

.enterIcon {
  text-decoration: none;
  transition: all ease-in-out 0.45s;
  font-size: 25px;
}

.enterIcon:hover {
  transform: scale(1.5);
}

@media (max-width: 750px) {
  body {
    background-color: white;
  }

  .hero {
    color: white;
    width: 80%;
    margin: auto;
  }

  .cardsContain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }

  .conisCard {
    background-color: white;
    display: flex;
    width: 90%;
    margin: auto;
    border-radius: 10px;
  }

  .coinRank {
    display: none;
  }
}
