body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../images/istockphoto-1313455188-612x612.jpg);
  background-size: contain;
}

.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(../../images/istockphoto-1313455188-612x612.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  box-shadow: 30px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: auto;
}

.heroDetails {
  padding: 20px 0;
  width: 80%;
  margin: auto;
}

.cardsContain {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.conisCard {
  transition: all ease-in-out 0.45s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 240px;
  border-radius: 10px;
  background-color: white;
}

.conisCard:hover {
  transform: scale(1.05);
}

.searchInput {
  display: flex;
  justify-content: center;
  padding: 0 0 30px 0;
}

.inputSearchBox {
  transition: all ease-in-out 0.45s;
  width: 50%;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 1px 1px 1px rgba(249, 249, 249, 0.25);
}

.inputSearchBox:hover {
  transform: scale(1.09);
}

.coinIcons {
  display: flex;
  color: gold;
  font-size: 40px;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  cursor: pointer;
}

.coinIcons p {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.conisCard img {
  width: 70px;
}

.coinIcon {
  width: 10%;
}

.coinDetails {
  width: 60%;
  text-align: center;
}

.arrowForward {
  width: 20px;
}

.enterIcon {
  text-decoration: none;
  transition: all ease-in-out 0.45s;
  font-size: 25px;
}

.enterIcon:hover {
  transform: scale(1.5);
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff000;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.ring::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

span::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #fff000;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

@media (max-width: 750px) {
  body {
    background-color: white;
  }

  .hero {
    color: white;
    width: 80%;
    margin: auto;
  }

  .cardsContain {
    width: 97%;
    margin: auto;
  }

  .conisCard {
    background-color: white;
    display: flex;
    width: 90%;
    margin: auto;
    border-radius: 10px;
  }

  .coinRank {
    display: none;
  }
}

@media (max-width: 450px) {
  .cardsContain {
    display: flex;
    overflow: hidden;
    gap: 2px;
    justify-content: center;
    margin: auto;
  }

  .conisCard {
    background-color: white;
    width: 37%;
    margin: 0 auto;
    border-radius: 10px;
  }

  .conisCard img {
    width: 35px;
  }

  .coinSymbol {
    font-size: 15px;
  }
}
